@charset "UTF-8";
@import url('https://use.fontawesome.com/releases/v6.7.2/css/all.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/kokoro.css');
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

@font-face {
    font-family: 'ぼくたちのゴシック';
    src: url('https://cdn.leafscape.be/boku/bokutachi_web.woff2') format("woff2");
}
@font-face {
    font-family: 'しねきゃぷしょん';
    src: url('https://cdn.leafscape.be/cinecaption/cinecaption227.woff2') format("woff2");
}
@font-face {
    font-family: '刻明朝';
    src: url('https://cdn.leafscape.be/kokumin/font_1_kokumr_1.00_rls_web.woff2') format('woff2');
}

* {
    font-size: 11px;
    font-family: '刻明朝', serif;
    font-weight: normal;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    font-size: 11.5px;
    letter-spacing: 0.5px;
    line-height: 1.7;
    color: #333;
    text-align: justify;
    word-break: break-all;
    position: relative;
    margin: 0;
    padding: 0;
}

html:before,
html:after,
body:before,
body:after {
    content: "";
    background: #cedde0;
    position: fixed;
    z-index: 100; /* 枠が隠れないように数値を上げました */
}

/* 上 */
html:before { height: 10px; width: 100vw; left: 0; top: 0; }
/* 右 */
html:after { width: 10px; height: 100vh; right: 0; top: 0; }
/* 下 */
body:before { height: 10px; width: 100vw; bottom: 0; left: 0; }
/* 左 */
body:after { width: 10px; height: 100vh; top: 0; left: 0; }

up { font-size: 11px; font-family: 'Stick', sans-serif; color: #97d9de; }
c { font-size: 11px; font-family: 'Stick', sans-serif; color: #fcb3e7; }
um { background: linear-gradient(transparent 70%, #97d9de 70%); }
cm { background: linear-gradient(transparent 70%, #e8a9cf 70%); }
tm { background: linear-gradient(transparent 70%, #a9ceec 70%); }
w { border-bottom: double 3px #e6e3c0; }
m { display: block; text-align: right; }
s { opacity: 0.4; }
mark { background-image: linear-gradient(#a19f9f, #a19f9f); color: #fff; }

/* チャット */
.talk { padding: 20px 10px; max-width: 450px; margin: 15px auto; text-align: right; font-size: 15px; color: #ffffff; }
.talk span { font-family: 'ぼくたちのゴシック', sans-serif; }

.c { width: 100%; margin: 10px 0; overflow: hidden; }
.c .chatting { width: 100%; text-align: left; }
.c p { display: inline-block; position: relative; margin: 0 0 0 24px; padding: 8px; max-width: 250px; border-radius: 100px 100px 100px 0; background: #de97bb; text-align: left; }

.u { width: 100%; margin: 10px 0; overflow: hidden; }
.u p { display: inline-block; position: relative; margin: 0 24px 0 0; padding: 8px 8px 8px 10px; max-width: 250px; border-radius: 100px 100px 0px 100px; background: #97d9de; text-align: left; }

/* リンク */
a { text-decoration: none; color: #333; position: relative; min-width: 20px; min-height: 20px; text-align: center; margin: 0 2px; display: inline-block; }
a:hover { font-weight: bold; top: 1px; left: 1px; }
a:after { content: ""; position: absolute; left: 0; bottom: 2px; width: 100%; height: 7px; background: repeating-linear-gradient(-45deg, #cedde0, #cedde0 2px, #fff 2px, #fff 4px); z-index: -1; }

b { font-weight: bold; }
article { width: 80%; max-width: 300px; margin: 0 auto 20px; }
top { display: block; padding-top: 40px; margin-bottom: 50px; text-align: center; }
top h1 { font-size: 25px; padding-top: 15px; letter-spacing: 6px; margin-bottom: 6px; }
top h1:first-letter { font-size: 2em; color: #cedde0; }
top ul { border-top: 1px solid #333; border-bottom: 1px solid #333; display: flex; align-items: center; justify-content: center; padding: 5px 0; margin: 0; }
top ul a { margin: 0 5px; font-size: 12px; font-weight: 700; }

section { border: 1px solid #333; padding: 10px 15px; position: relative; margin: 10px 0; }
section h2 { text-align: center; font-size: 28px; letter-spacing: 4px; margin: 10px 0 20px; }
section h2 span { display: block; margin-top: -4px; font-size: 11px; letter-spacing: 1px; color: #afafaf; }
section h3 { display: inline-block; min-width: 100px; margin: 30px 0 15px; text-align: center; background: #cee0db; color: #fff; line-height: 2; letter-spacing: 2px; padding: 0 10px; }
section h4 { display: flex; align-items: center; font-weight: bold; font-size: 1.2em; margin: 10px 0; }
section h4 span { background: #fff; padding-right: 0.5em; }
section h4::after { content: ''; flex: 1; height: 1px; background-color: #333; }

.box { border-top: 2px solid #cedde0; }
h3.box_header { color: #cedde0; margin: 0; text-align: center; font-size: 15px; font-weight: bold; }
.box .inner { padding: .5em; }
.small { font-size: 0.8em; }

details[open] .fi { animation: fadeIn 2.0s ease; }
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: none; }
}
details summary::-webkit-details-marker { display: none; }
details summary::before { font-family: FontAwesome; content: '\f131'; margin-right: 5px; }
details[open] summary::before { content: '\f130'; }

#wrp { margin: 0 auto; max-width: 400px; padding: 20px 20px 0 20px; }
.bx { margin: 2.5px 0; width: 100%; display: table; table-layout: fixed; }
.cl1, .cl12 { font-family: "Font Awesome 6 Free", sans-serif; font-size: 22px; padding: 10px; color: #fff; background: #c0e6e4; width: 50px; min-height: 40px; line-height: 1; text-align: center; vertical-align: middle; display: table-cell; position: relative; }
.cl12 { background: #e6c0d8; }
.cl1 p, .cl12 p { font-family: 'ぼくたちのゴシック', sans-serif; font-size: 10px; margin: 3px 0 0; }
.cl2 { margin: 0; padding: 15px; width: auto; min-height: 40px; background: #F5F5F5; line-height: 1.7; display: table-cell; vertical-align: middle; }

.memo { margin: 0 auto; position: relative; background: #ededed; border-right: 4px dotted rgba(0,0,0,.1); box-shadow: 0 0 5px rgba(0,0,0,.2); padding: 2em; color: #363636; width: 250px; }
.masking-tape { position: absolute; top: -1em; left: 26%; width: 100px; height: 30px; background-image: linear-gradient(-45deg, rgba(206, 224, 219,.4) 25%, transparent 25%, transparent 50%, rgba(206, 224, 219,.4) 50%, rgba(206, 224, 219,.4) 75%, transparent 75%, transparent 100%); background-size: 20px 20px; border-left: 2px dotted rgba(0,0,0,.1); border-right: 2px dotted rgba(0,0,0,.1); box-shadow: 0 0 5px rgba(0,0,0,.2); transform: rotate(-4deg); }
.memo t { display: block; text-align: center; font-family: 'しねきゃぷしょん', sans-serif; font-weight: bold; color: #363636; }
.memo p { font-family: 'しねきゃぷしょん', sans-serif; color: #363636; padding: 10px; margin: 0; }

.column { margin: 2em auto; background-color: #fff; padding: 2em; position: relative; border: 1px solid #dcdcdc; }
.column .title { font-family: 'しねきゃぷしょん', sans-serif; background-color: #fff; font-size: 1em; font-weight: 900; color: #dcdcdc; padding: 0 5px; position: absolute; top: -5px; left: 20px; }
.column .title:before { font-family: "Font Awesome 6 Free"; content: "\f304"; margin-right: 3px; font-weight: 900; }
.column .text { color: #dcdcdc; font-weight: bold; font-size: 10px; font-family: 'しねきゃぷしょん', sans-serif; }

input[type=text], textarea, input[type=submit] {
    font-size: 90%;
    -webkit-appearance: none;
    background-color: #fff;
    color: #000;
    border: solid 1px #000;
    border-radius: 3px;
    vertical-align: middle;
}
textarea { width: 80%; margin: 4px; }
input[type=text] { width: 140px; height: 27px; padding: 0 2px; margin: 4px; }
input[type=submit] { width: 50px; height: 27px; padding: 0 2px; cursor: pointer; }
