@charset "UTF-8";
@import url('https://fonts.googleapis.com/earlyaccess/hannari.css');
@import url('https://use.fontawesome.com/releases/v6.7.2/css/all.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css');

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Hannari,'Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    color: gray;
    font-weight: normal;
    list-style-type: none;
}

hr { border: none; }

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
}

body {
    font-size: 10px;
    color: gray;
    letter-spacing: 0.5px;
}

body:after {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    content: "";
    z-index: -1;
    background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

a {
    color: gray;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    line-height: 12px;
    position: relative;
}

.name { color: gray !important; }

/* 太字 */
strong { font-weight: bold; }

line { background: linear-gradient(transparent 70%, #ffffff 70%); }

w { border-bottom: double 3px #e6e3c0; }

g { font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }

article.top div {
    background-size: 64px;
    font-size: 11px;
    max-width: 240px;
    margin: 0 auto;
    padding: 40px 0 20px;
    text-align: center;
    letter-spacing: 1.5px;
    position: relative;
    display: inline-block;
}

div.box {
    max-width: 440px;
    width: 75%;
    margin: 0 auto;
    padding: 35px 0 40px;
    font-size: 10px;
    color: gray;
}

h1 {
    text-align: center;
    font-size: 20px;
    color: gray;
    letter-spacing: 5px;
    display: inline-block;
}

.blur { filter: blur(0.4px); }
.sb { filter: blur(0.2px); }

details[open] .fi {
    animation: fadeIn 2.0s ease;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: none; }
}

details summary::-webkit-details-marker { display: none; }

input[type=text],textarea,input[type=submit] {
    font-size: 90%;
    -webkit-appearance: none;
    background: transparent;
    color: gray;
    border: solid 0.8px gray;
    border-radius: 3px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

textarea { width: 80%; margin: 4px; }
input[type=text] { width: 140px; height: 27px; padding: 0 2px; margin: 4px; }

.rt {
    max-width: 440px;
    width: 75%;
    margin: 0 auto;
    padding: 40px 0 20px;
    font-size: 10px;
    min-width: auto;
    list-style: none;
    box-sizing: border-box;
}

.rt li {
    width: 100%;
    margin: 0;
    padding: 5px 0;
    position: relative;
    border-left: 0.8px solid gray;
}

.rt li::before {
    content: "";
    position: absolute;
    top: 0;
    background: gray;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: -4px;
}

.rt .sch_box {
    display: inline-block;
    width: 100%;
    margin-left: 5px;
    padding: 10px;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 6px;
}

.rt .sch_tx {
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-left: 5px;
}

.rt .icon br { display: none; }
.rt .icon .heart { width: 14px; height: 14px; display: block; margin-left: 5px; margin-top: 5px; width: 20%; float: left; color: gray; }
.rt .icon .comment { width: 14px; height: 14px; display: block; margin-top: 5px; width: 20%; float: left; color: gray; margin-left: -15px; }

summary { display: block; }
